/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/composer.phar

/src/

/web/css/*
/web/img/*
/web/js/*
/web/vendor
!web/js/common.js
app/Resources/FOSUserBundle/

.idea
