# Common/Project/Build ignores
.idea
.travis.yml
.settings
.buildpath
.project
.sass-cache
node_modules/

/web/js/cms
/web/bundles/
/web/vendor/
/web/js/theme/
/web/cms/
/web/css/
/web/img/

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

/src/

/web/css/*
/web/img/*
/web/js/*
/web/vendor
!web/js/common.js
app/Resources/FOSUserBundle/

.idea
